.cv {
	width: 50%;
	padding: 24px;
	background-color: white;
}

.section-header {
	display: flex;
	align-items: center;
	gap: 8px;
}

.section-header h3 {
	font-size: 1.3vw;
}

.section:hover button {
	display: block;
}

.from-to {
	display: flex;
	gap: 4px;
}

@media print {
  .cv {
    width: 210mm;
    height: 297mm;
  }
}