.cv {
	width: 50%;
	padding: 24px;
	background-color: white;
}

.section-header {
	display: flex;
	align-items: center;
	gap: 8px;
}

.section-header h3 {
	font-size: 18px;
}

.section:hover button {
	display: block;
}

.section-content-header {
	font-size: 12px;
}

.section-content {
	display: flex;
	flex-direction: column;
}

input, textarea {
	border: none;
	background-color: rgb(226, 243, 254);
	padding: 4px 4px 4px 8px;
}
input {
	margin-bottom: 4px;
}

.flex-gap {
	display: flex;
	gap: 4px;
	align-items: center;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

@media print {
  .cv {
    width: 210mm;
    height: 297mm;
  }
}