.cv-form {
	padding: 16px;
	display: grid;
	grid-template-rows: repeat(3, auto);
	gap: 16px;
	flex-grow: 1;
	align-content: start;
	background-color: rgb(202, 237, 237);
}

.form-header {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;
}

.form-sections {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

form {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 4px;
}

input {
	border: none;
	border-radius: 8px;
	padding: 4px 4px 4px 8px;
}

textarea {
	border: none;
	border-radius: 8px;
	padding: 4px 4px 4px 8px;
}

button {
	border: none;
	background-color: white;
}

.input-same-line {
	display: flex;
	gap: 4px;
}

.input-same-line input {
	flex-grow: 1;
}