.cv-preview {
	position: sticky;
	top: 0;
	flex-basis: 50%;
	flex-grow: 1;
	padding: 24px;
	align-self: flex-start;
	background-color: white;
}

@media print {
  .cv-preview {
    width: 210mm;
    height: 297mm;
  }
}