.footer {
	padding: 10px;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	background-color: #3A52EE;
	color: white;
}

.footer a {
	color: white;
	font-weight: bold;
}