.personal-section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.personal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.personal-name {
	font-size: 32px;
	font-weight: bold;
}

.personal-title {
	font-size: 18px;
}

.contact-details {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 4px;
	align-items: center;
}

.contact-details p, .contact-details input {
	font-size: 12px;
}

.contact-details img {
	width: 16px;
	height: 16px;
}

.personal-description {
	font-size: 12px;
}