.personal-section {
	display: flex;
	flex-direction: column;
}

.personal-header {
	display: flex;
	justify-content: space-between;
}

.personal-name {
	font-size: 32px;
	font-weight: bold;
}

.personal-title {
	font-size: 18px;
}

.contact-details p {
	font-size: 0.6vw;
}

.personal-description {
	font-size: 0.8vw;
}