.skills-section {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 12px;
}

.skills-sections {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: row;
	padding-left: 24px;
}

.skill-name {
	display: list-item;
}