.work-sections {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.work-section {
	position: relative;
}

.work-position {
	font-weight: bold;
}

.work-company, .work-location {
	font-style: italic;
}

.work-description {
	font-size: 12px;
	white-space: pre-line;
}

.work-section button {
	position: absolute;
	top: 0px;
	right: 0px;
}